<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <mat-toolbar color="primary" class="topbar">
    <img src="logo.png" alt="logo" width="250" height="70"/>
    <mat-slide-toggle
      [checked]="isAdmin()"
      (change)="onToggleAdmin($event.checked)"
    >
      Modo Admin
    </mat-slide-toggle>
  </mat-toolbar>
  <div class="content">
    <section class="hero-section">
      <div class="hero-text-container">
        <span class="hero-text">¡Explora el grandioso mundo de productos que tenemos para ti!</span>
        <br/>
        <span>Busca y filtra tus productos favoritos.</span>
        <button *ngIf="isAdmin()"
                class="hero-btn-add"
                mat-stroked-button
                color="warn"
                matTooltip="Agregar producto"
                (click)="openNewProductDialog()"
        >
          Agregar producto
        </button>
      </div>
      <img src="worldmart.png" alt="globe" class="hero-globe" width="200" height="380"/>
    </section>
    <div>
      <app-products-section></app-products-section>
    </div>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet/>
